
.titulo{
    text-align: center;
    box-sizing: border-box;
    background-color:gray ;
    padding: 1rem;
    margin: 0;
}
.conteudo {
    background-image: url("https://www.meiahora.com.br/_midias/jpg/2022/04/08/whatsapp_image_2022_04_06_at_14_55_36-24833264.jpeg");
    background-repeat: repeat-x;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height:100%;
    min-height: 100vh;
    padding: 1rem;
    text-align: center;
    
}

.btn {
    background: white;
    color: black;
    border: black;
    padding: 0.5rem;
    width: 6rem;
    border-radius: 5px;
    margin: 0.5rem;
}

.botoes{
    margin: 0 0 100% 0;
    width: 170px;
    flex-direction: column;
    align-items: center;
}
.botoes-sim{
    position: fixed;
    display: block; 
}
@media (max-width: 600px) {
    .titulo {
        font-size: 1.5rem;
    }

    .botoes {
    width:80%;
    
    }

    .btn {
        background: white;
        color: black;
        border: black;
        width: 10%;
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .conteudo {
        background-size: cover;
        height: auto;
        padding: 1rem 0;
    }
    #btn-sim :hover{
        background-color: green;
    }
}